<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6"> 
       <%= image_tag 'about.jpg', class: 'img-responsive'%>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="list-style">
            
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <h3>MISSION</h3>
          
              <p>
                To be the world's leading software development brand producing state of the art mobile applications, websites, and games for our discerning clientele. Creating life changing systems for everyone who seeks innovation for the future.
              </p>
            </div>
           <div class="col-lg-6 col-sm-6 col-xs-12">
              <h3>VISION</h3>
          
              <p>
                Provide high quality results. Promote a stress free work environment. A healthy and well balanced life for our employees. To develop systems that compliments the lifestyle of both our clients and users.         
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>