@model IEnumerable<WebApplication2.Models.Entities.HomeCarousel>

@{
    ViewBag.Title = "CarouselImages";
}

<h3>Carousel Images for Home</h3>

@if (Model != null && Model.Count() > 0) { 
foreach (var item in Model)
{

    <img src="@item.Path" width="70px" height="70px" />

    @Html.ActionLink("Remove", "DeleteHomeImage", new { xid = item.ID })

    }
}
@using (Html.BeginForm("AddCarImage", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        <label class="control-label col-md-2">Add Image</label>
        <div class="col-md-5">
            <input type="file" name="FileMain" class="form-control" />
            <input type="submit" value="submit" />
        </div>
        <div class="col-md-5">
            <a href="@Url.Action( "EditContent" ,"Admin")" class="button">Done</a>
        </div>
    </div>
}
